.teamGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    max-width: 1280px;
}

.teamItem {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}